@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeInUp {
    opacity: 0;
    transform: translateY(30px);
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
